@model tiendaOnline.Models.DetalleVendedor

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Esta seguro que desea eliminar la siguiente información?</h3>
<div>
    <h4>DetalleVendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreComercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreComercial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.correoComercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correoComercial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoVendedor)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="DetalleVendedorID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> 
        <a class="btn btn-default" asp-action="Index"><i class="fa fa-home"></i> Regresar</a>
    </form>
</div>
