@model tiendaOnline.Models.DetalleVendedor

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DetalleVendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreComercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreComercial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.correoComercial)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correoComercial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetalleVendedorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
