@model IEnumerable<tiendaOnline.Models.DetalleVendedor>

@{
    ViewData["Title"] = "Informacion del vendedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Informacion del vendedor</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.correoComercial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoVendedor)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.correoComercial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoVendedor)
            </td>
            
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.DetalleVendedorID"><i class="fas fa-pen"></i></a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.DetalleVendedorID"><i class="fas fa-info"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DetalleVendedorID"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
<a class="btn btn-default" asp-area="Identity" asp-page="/Account/Manage/Vendedor" title="Manage"> <i class="fa fa-home"> </i></a>
