<div>
    @model tiendaOnline.Models.Orden
    @using tiendaOnline.Data
    @using Microsoft.AspNetCore.Identity
    @using tiendaOnline.Areas.Identity.Data

    <!--Inyeccion para obtener el id del usuario que ha iniciado sesion y hacer filtros en sus direcciones y tarjetas-->
    @inject UserManager<tiendaOnlineUser> UserManager
    <!--Haciendo una inyeccion del context para traer cualquier modelo-->
    @inject ApplicationDbContext _context
    @{
        ViewData["Title"] = "Detalles de tu compra";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h2>Detalles de tu compra</h2>
    <!--Muestra la fecha y hora actual-->
    <div style="float:right;">
        <script type="text/javascript">
            //<![CDATA[
            var today = new Date();
            var m = today.getMonth() + 1;
            var mes = (m < 10) ? '0' + m : m;
            document.write('Fecha: ' + today.getDate(), '/' + mes, '/' + today.getFullYear());
            //]]>
        </script>

        <script type="text/javascript">
            function startTime() {
                today = new Date();
                h = today.getHours();
                m = today.getMinutes();
                s = today.getSeconds();
                m = checkTime(m);
                s = checkTime(s);
                document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
                t = setTimeout('startTime()', 500);
            }
            function checkTime(i) { if (i < 10) { i = "0" + i; } return i; }
            window.onload = function () { startTime(); }
        </script>
        <div id="reloj" style="font-size:20px;"></div>
    </div>
    <h4>Ya te falta poco!</h4>
    <hr />






    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <!--Muestra acá los productos del usuario, foto, nombre, cantidad, precio unitario, subtotal de c/u-->

                <br />
                <div class="container">
                    <div class="col-md-pull-7">
                        @{await
                                                                      Html.RenderPartialAsync("ListaProd");
                        }
                    </div>
                </div>
                <!--Preguntarle si quiere envío o ir a recogerla a la sucursal-->
                <br />
                <br />
                <div class="container">
                    <div class="col-md-pull-7">
                        <div class="panel panel-default panel-srcbox">
                            <div class="panel-heading">
                                <fieldset>
                                    <legend><b>¿Desea recoger el producto o que se le envíe?</b></legend>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <div class="btn-group" data-toggle="buttons">
                                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

                                                @*<input type="radio" class="retirar"    checked="checked"       id="sucursal" name="envio" checked="checked" value="sucursal" data-toggle="modal" data-target="#cuadritoWapeton3" /> Recoger en la sucursal*@
                                                <label>
                                                    <p class="auto-style3"><input name="envio" type="radio" style="width: 17px; height: 17px" data-toggle="modal" data-target="#cuadritoWapeton3" />Recoger en sucursal</p>
                                                </label>
                                                <br />




                                                <!--aqui se le debe mostrar la direccion de la sucursal seleccionada cuando le de guardar al popup-->
                                                <div class="col-md-pull-12" id="div1" style="display:none">
                                                    <div class="panel panel-default panel-srcbox">
                                                        <div class="panel-heading">

                                                            @foreach (var linea in _context.Sucursal)
                                                            {

                                                                <label class="input-group-text" value="@ViewData["ScursalID"]@linea.nombreSucursal">&nbsp; @Html.DisplayFor(subcategorias => linea.nombreSucursal)</label>
                                                                <br />
                                                                @foreach (var linea2 in _context.Direccion)
                                                                {
                                                                    @if (linea.SucursalID == linea2.sucursalID)
                                                                    {
                                                                        @foreach (var linea3 in _context.Municipio)
                                                                        {
                                                                            @if (linea3.MunicipioID == linea2.MunicipioID)
                                                                            {
                                                                                @foreach (var linea4 in _context.Departamento)
                                                                                {
                                                                                    @if (linea3.DepartamentoID == linea4.DepartamentoID)
                                                                                    {
                                                                                        <label class="input-group-text" value="@ViewData["ScursalID"]@linea2.DireccionID"> &nbsp; @Html.DisplayFor(subcategorias => linea4.nombreDepartamento), </label>
                                                                                    }
                                                                                }
                                                                                <label class="input-group-text" value="@ViewData["ScursalID"]@linea2.DireccionID"> @Html.DisplayFor(subcategorias => linea3.nombreMunicipio), </label>
                                                                            }
                                                                        }
                                                                        <label class="input-group-text" value="@ViewData["ScursalID"]@linea2.DireccionID"> @Html.DisplayFor(subcategorias => linea2.direccionDetallada), Código postal: </label>
                                                                        <label class="input-group-text" value="@ViewData["ScursalID"]@linea2.DireccionID"> @Html.DisplayFor(subcategorias => linea2.codigoPostal)</label><br />


                                                                    }
                                                                }
                                                                <label class="input-group-text" value="@ViewData["ScursalID"]@linea.nombreSucursal"> &nbsp; @Html.DisplayFor(subcategorias => linea.horarioDeAtencion)</label>


                                                            }

                                                        </div>
                                                    </div>
                                                </div>

                                                <br />

                                                <!--Popup para seleccion de sucursal-->
                                                <div class="modal fade " id="cuadritoWapeton3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <!--Header del popup-->
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    <span class="sr-only">Close</span>
                                                                </button>
                                                                <h3 class="modal-title" id="myModalLabel">
                                                                    <b> Seleccionar la sucursal adonde irá a recoger su pedido</b>
                                                                </h3>
                                                                <!--body del popup-->
                                                                <!--para mostrarle la sucursal-->
                                                                <div class="col-md-pull-12">
                                                                    <br /><br />


                                                                    @foreach (var linea in _context.Sucursal)
                                                                    {
                                                                        <button style="FONT-SIZE: 11pt; border:none" type="submit" class="btn btn-default btn-lg envio" name="pago1" value="envio" id="@ViewData["SucursalID"]@linea.SucursalID" onclick="seleccionarSucursal()" data-dismiss="modal">

                                                                            <label class="input-group-text" value="@ViewData["SucursalID"]@linea.nombreSucursal">&nbsp; @Html.DisplayFor(subcategorias => linea.nombreSucursal)</label>
                                                                            <br />
                                                                            @foreach (var linea2 in _context.Direccion)
                                                                            {
                                                                                @if (linea.SucursalID == linea2.sucursalID)
                                                                                {
                                                                                    @foreach (var linea3 in _context.Municipio)
                                                                                    {
                                                                                        @if (linea3.MunicipioID == linea2.MunicipioID)
                                                                                        {
                                                                                            @foreach (var linea4 in _context.Departamento)
                                                                                            {
                                                                                                @if (linea3.DepartamentoID == linea4.DepartamentoID)
                                                                                                {
                                                                                                    <label class="input-group-text" value="@ViewData["uScursalID"]@linea2.DireccionID"> &nbsp; @Html.DisplayFor(subcategorias => linea4.nombreDepartamento), </label>
                                                                                                }
                                                                                            }
                                                                                            <label class="input-group-text" value="@ViewData["SucursalID"]@linea2.DireccionID"> @Html.DisplayFor(subcategorias => linea3.nombreMunicipio), </label>
                                                                                        }
                                                                                    }
                                                                                    <label class="input-group-text" value="@ViewData["SucursalID"]@linea2.DireccionID"> @Html.DisplayFor(subcategorias => linea2.direccionDetallada), Código postal: </label>
                                                                                    <label class="input-group-text" value="@ViewData["SucursalID"]@linea2.DireccionID"> @Html.DisplayFor(subcategorias => linea2.codigoPostal)</label><br />


                                                                                }
                                                                            }
                                                                            <label class="input-group-text" value="@ViewData["SucursalID"]@linea.nombreSucursal">@Html.DisplayFor(subcategorias => linea.horarioDeAtencion)</label>
                                                                        </button>

                                                                    }



                                                                </div>


                                                                <!--Fin del body del popup-->
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">

                                                                    <button data-dismiss="modal">Cancelar</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                @*<label>
                                                        <input type="radio" id="enviado" name="envio" value="enviado" data-toggle="modal" /> Método de envío
                                                    </label>*@
                                                <label>
                                                    <p class="auto-style3"><input class="envio" name="envio" type="radio" style="width: 17px; height: 17px" value="enviar" />&nbsp;<span class="auto-style4">Metodo de envio</span></p>
                                                </label>
                                                <!--preguntarle q direccion elegira de enviar-->
                                                <br />
                                                <div class="col-md-10" id="div2" style="display:none">
                                                    <div class="panel panel-default panel-srcbox">
                                                        <div class="panel-heading">
                                                            <fieldset>
                                                                <legend><h5>¿A qué dirección desea que se le envíe?</h5></legend>
                                                                <div class="row">
                                                                    <div class="col-sm-9">
                                                                        <div class="btn-group" data-toggle="buttons">

                                                                            <input type="button" id="direcciondeusuario" name="direccion" data-toggle="modal" data-target="#cuadritoWapeton6" value="Elegir dirección" />

                                                                            <!--aqui se le debe mostrar la direccion del usuario seleccionada cuando le de guardar al popup-->
                                                                            <div class="form-group" id="diruser" style="display:none">
                                                                                <br />
                                                                                <p>aqui se le debe mostrar la direccion del usuario seleccionada cuando le de guardar al popup</p>

                                                                            </div>
                                                                            <br /><br />
                                                                            <input type="button" id="metododeenvioseleccionado" name="metododeenvio" data-toggle="modal" data-target="#cuadritoWapeton4" value="Elegir método de envío" />

                                                                            <br />
                                                                            <!--aqui se le debe mostrar el metodo de envio seleccionada cuando le de guardar al popup-->
                                                                            <div class="form-group" id="metuser" style="display:none">
                                                                                <p>aqui se le debe mostrar el metodo de envio seleccionada cuando le de guardar al popup</p>


                                                                            </div>

                                                                            <!--inicio popup de direcciones-->
                                                                            <div class="modal fade" id="cuadritoWapeton6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!--Header del popup-->
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close"
                                                                                                    data-dismiss="modal">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                                <span class="sr-only">Close</span>
                                                                                            </button>
                                                                                            <h3 class="modal-title" id="myModalLabel">
                                                                                                <b>
                                                                                                    Elegir dirección donde recibira el producto
                                                                                                </b>
                                                                                            </h3>
                                                                                            <!--body del popup-->
                                                                                            <div class="modal-body">

                                                                                                <!--Aqui mandan a llamar a las direcciones-->
                                                                                                <div class="col-md-pull-0">

                                                                                                    <fieldset>
                                                                                                        <table>
                                                                                                            <tbody>

                                                                                                                <tr></tr>
                                                                                                                <tr>
                                                                                                                    <td>&nbsp;</td>

                                                                                                                </tr>

                                                                                                                @foreach (var linea in _context.Direccion.Where(d => d.tiendaOnlineUserID == UserManager.GetUserId(User)))
                                                                                                                {
                                                                                                                    @foreach (var linea2 in _context.Municipio)
                                                                                                                    {
                                                                                                                        @if (linea.MunicipioID == linea2.MunicipioID)
                                                                                                                        {
                                                                                                                            @foreach (var linea3 in _context.Departamento)
                                                                                                                            {
                                                                                                                                @if (linea2.DepartamentoID == linea3.DepartamentoID)
                                                                                                                                {

                                                                                                                                    <tr>
                                                                                                                                        <td style="text-align:center;">

                                                                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block dir" name="dir" value="direcciondelusuario" data-dismiss="modal">
                                                                                                                                                <label for="@ViewData["DireccionID"]@linea.DireccionID">El Salvador, @Html.DisplayFor(modelItem => linea3.nombreDepartamento), </label>
                                                                                                                                                <label for="@ViewData["DireccionID"]@linea.DireccionID">@Html.DisplayFor(modelItem => linea2.nombreMunicipio), </label>
                                                                                                                                                <label for="@ViewData["DireccionID"]@linea.DireccionID">@Html.DisplayFor(modelItem => linea.direccionDetallada).</label><br />
                                                                                                                                                <label for="@ViewData["DireccionID"]@linea.DireccionID"> Código postal: @Html.DisplayFor(modelItem => linea.codigoPostal)</label>
                                                                                                                                            </button>
                                                                                                                                        </td>

                                                                                                                                    </tr>
                                                                                                                                    <tr>
                                                                                                                                        <td>&nbsp;</td>

                                                                                                                                    </tr>
                                                                                                                                }
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }

                                                                                                                }
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </fieldset>

                                                                                                </div>

                                                                                            </div>
                                                                                            <!--Fin del body del popup-->
                                                                                            <!-- Modal Footer -->
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-default"
                                                                                                <li>   <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Registrar una nueva dirección</a></li>
                                                                                            </button>
                                                                                                <button type="button" class="btn btn-default"
                                                                                                        data-dismiss="modal">
                                                                                                    Cerrar
                                                                                                </button>
                                                                                            </div>

                                                                                        </div>




                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <br />

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>


                                                <p></p>




                                                <!--Popup para seleccion del metodo de envio-->
                                                <div class="modal fade" id="cuadritoWapeton4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <!--Header del popup-->
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    <span class="sr-only">Close</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    Elegir método de envío
                                                                </h4>
                                                                <!--body del popup-->
                                                                <div class="modal-body">
                                                                    <form role="form">
                                                                        <!--Aqui mandan a llamar a los metodos de envio-->
                                                                        <br />
                                                                        <p><i>Eligue el método de envío que requieres</i></p>
                                                                        <br />
                                                                        <table style="text-align:center;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <th class="col-md-3"><b><center>Monto extra</center></b></th>
                                                                                    <th class="col-md-2"><b><center>Días de envío</center></b></th>
                                                                                    <th class="col-md-4"><b><center>Nombre del intermediario</center></b></th>
                                                                                </tr>


                                                                                @foreach (var linea in _context.MetodoEnvio)
                                                                                {

                                                                                    <tr>
                                                                                        <td class="col-md-3">
                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block met" name="met" value="metusuario" data-dismiss="modal">
                                                                                                <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"> $@Html.DisplayFor(modelItem => linea.montoEnvio)</label>
                                                                                            </button>
                                                                                        </td>
                                                                                        <td class="col-md-2">
                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block met" name="met" value="metusuario" data-dismiss="modal">
                                                                                                <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID">(@Html.DisplayFor(modelItem => linea.minDiasEnvio)</label> -
                                                                                                <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"> @Html.DisplayFor(modelItem => linea.maxDiasEnvio) )</label>
                                                                                            </button>
                                                                                        </td>
                                                                                        <td class="col-md-4">
                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block met" name="met" value="metusuario" data-dismiss="modal">
                                                                                                <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"> @Html.DisplayFor(modelItem => linea.nombreMetodoEnvio)</label>
                                                                                            </button>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>&nbsp;</td>
                                                                                        <td>&nbsp;</td>
                                                                                        <td>&nbsp;</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>

                                                                    </form>


                                                                </div>
                                                                <!--Fin del body del popup-->
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">
                                                                        Cerrar
                                                                    </button>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>


                    <!--Pregunta si posee cupón el usuario-->
                    <div class="container">
                        <div class="col-md-5">
                            <div class="panel panel-default panel-srcbox">
                                <div class="panel-heading">
                                    <fieldset>
                                        <legend><b>¿Posee algún cupón?</b></legend>

                                        <div class="col-lg-pull-0">
                                            <div class="btn-group" data-toggle="buttons">
                                                <label>
                                                    <p class="auto-style3"><input name="cupon" type="radio" style="width: 17px; height: 17px" value="si" data-toggle="modal" data-target="#cuadritoWapeton5" /><span class="auto-style4"> Si</span></p>
                                                    @*<input type="radio" id="concupon" name="cupon" checked="checked" value="concupon" data-toggle="modal" data-target="#cuadritoWapeton5" /> Si*@
                                                </label>
                                                <div class="form-group" id="divsi" style="display:none">
                                                    <label class="control-label">Cupon valido o no valido de nuevo usuario</label>

                                                </div>
                                                <!--inicio popup del cupon-->
                                                <div class="modal fade" id="cuadritoWapeton5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <!--Header del popup-->
                                                            <div class="modal-header">
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">
                                                                    <span aria-hidden="true">&times;</span>
                                                                    <span class="sr-only">Close</span>
                                                                </button>
                                                                <h4 class="modal-title" id="myModalLabel">
                                                                    Ingrese su cupón
                                                                </h4>
                                                                <!--body del popup-->
                                                                <div class="modal-body">

                                                                    <!--aqui va el formulario para cupon-->

                                                                    <label asp-for="cupon.codigoCupon" class="control-label">Introduzca el codigo de su cupon</label>

                                                                    <input asp-for="cupon.codigoCupon" class="form-control" asp-items="ViewBag.cuponID" type="text" required pattern="[A-Za-z0-9]{9,15}">
                                                                    <span asp-validation-for="cupon.codigoCupon" class="text-danger"></span>

                                                                </div>
                                                            </div>
                                                            <!--Fin del body del popup-->
                                                            <!-- Modal Footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Cerrar
                                                                </button>
                                                                <button type="submit" style="border:none" class="btn btn-success cupon" name="cupon" value="si" data-dismiss="modal">
                                                                    Validar
                                                                </button>
                                                                <br />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <label>
                                                <p class="auto-style3"><input class="cupon" name="cupon" type="radio" style="width: 17px; height: 17px" value="no" /><span class="auto-style4"> No</span></p>

                                                @*<input type="radio" id="sincupon" name="cupon" value="no" /> No*@
                                            </label>
                                        </div>


                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>





                    <!--Preguntarle si quiere pagar con tarjeta o paypal-->
                    <div class="panel panel-default panel-srcbox">
                        <div class="panel-heading">
                            <fieldset>
                                <legend><b>¿Desea realizar pago con tarjeta o paypal?</b></legend>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                                            <label>
                                                <p class="auto-style3"><input name="pago" type="radio" style="width: 17px; height: 17px" value="si" data-toggle="modal" data-target="#cuadritoWapeton1" /><span class="auto-style4"> Realizar con tarjeta</span></p>

                                                @*<input type="radio" id="tarjeta" name="pago" checked="checked" value="tarjeta" data-toggle="modal" data-target="#cuadritoWapeton1" /> Realizar pago con tarjeta de crédito*@

                                            </label><br />

                                            <!--aqui se le debe mostrar la tarjeta usará, hay que validar q solo le aparezcan las tarjetas de ese usuario y q la fecha solo muestre mes y año cuando le de guardar al popup-->
                                            <div class="col-md-10" id="divtar" style="display:none">
                                                <div class="panel panel-default panel-srcbox">
                                                    <div class="panel-heading">
                                                        <p>esta tarjeta usará, hay que validar q solo le aparezcan las tarjetas de ese usuario y q la fecha solo muestre mes y año</p>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--aqui comienza lo que saldria del primer popup-->
                                            <div class="modal fade" id="cuadritoWapeton1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!--Header del popup-->
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">Close</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">
                                                                Elegir tarjeta para realizar el pago
                                                            </h4>
                                                            <!--body del popup-->
                                                            <div class="modal-body">

                                                                <!--Aqui mandan a llamar a las tarjetas-->
                                                                <div class="col-md-pull-0">

                                                                    <fieldset>
                                                                        <table>
                                                                            <tbody style="text-align:center;">

                                                                                <tr>
                                                                                    <td style="padding-left:15px;"><b>Tipo de tarjeta</b></td>
                                                                                    <td style="padding-left:15px;"><b>Titular</b></td>
                                                                                    <td style="padding-left:15px;"><b>Fecha de vencimiento</b></td>
                                                                                </tr>
                                                                                <tr>

                                                                                    <td>&nbsp;</td>
                                                                                    <td>&nbsp;</td>
                                                                                    <td>&nbsp;</td>
                                                                                </tr>

                                                                                @foreach (var linea in _context.Tarjeta.Where(d => d.tiendaOnlineUserID == UserManager.GetUserId(User)))
                                                                                {

                                                                                    <tr>

                                                                                        <td style="padding-left:15px;">
                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block pago" name="pago" value="si" data-dismiss="modal">
                                                                                                <label for="@ViewData["TarjetaID"]@linea.TarjetaID"> @Html.DisplayFor(modelItem => linea.tipoTarjeta)</label>
                                                                                            </button>
                                                                                        </td>
                                                                                        <td style="padding-left:20px;">
                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block pago" name="pago" value="si" data-dismiss="modal">
                                                                                                <label for="@ViewData["TarjetaID"]@linea.TarjetaID"> @Html.DisplayFor(modelItem => linea.titularTarjeta)</label>
                                                                                            </button>
                                                                                        </td>
                                                                                        <td style="padding-left:20px;">
                                                                                            <button type="submit" style="border:none" class="btn btn-default btn-block pago" name="pago" value="si" data-dismiss="modal">
                                                                                                <label for="@ViewData["TarjetaID"]@linea.TarjetaID"> @Html.DisplayFor(modelItem => linea.fechaVencimiento.Month) / @Html.DisplayFor(modelItem => linea.fechaVencimiento.Year)</label>
                                                                                            </button>
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                    </fieldset>
                                                                </div>
                                                            </div>
                                                            <!--Fin del body del popup-->
                                                            <!-- Modal Footer -->
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default"
                                                                        data-dismiss="modal">
                                                                    Cerrar
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Guardar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <label>
                                                <p class="auto-style3"><input name="pago" type="radio" style="width: 17px; height: 17px" value="no" data-toggle="modal" data-target="#cuadritoWapeton2" /><span class="auto-style4"> Realizar con Paypal</span></p>

                                                @*<input type="radio" id="paypal" name="pago" value="paypal" data-toggle="modal" data-target="#cuadritoWapeton2" />  Realizar pago con Paypal*@

                                            </label>
                                            <!--aqui se le debe mostrar la  cuenta de paypal que usará cuando le de cotinuar al popup-->
                                            <div class="col-md-10">
                                                <div class="panel panel-default panel-srcbox" id="divnone" style="display:none">
                                                    <div class="panel-heading">
                                                        <p>esta cuenta de paypal usará hay q mostrarla </p>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--inicio popup paypal-->
                                            <div class="modal fade" id="cuadritoWapeton2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!--Header del popup-->
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">Close</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">
                                                                Pago con Paypal
                                                            </h4>
                                                            <!--body del popup-->
                                                            <div class="modal-body">
                                                                <!--aqui va el formulario para paypal-->
                                                                <div class="col-md-pull-0">
                                                                    <div class="panel panel-default panel-srcbox">
                                                                        <div class="panel-heading">
                                                                            <fieldset>
                                                                                <label class="control-label">Introduzca el correo de su cuenta de Paypal</label>
                                                                                <input class="form-control" asp-items="ViewBag.paypalID"> <br /><br />
                                                                                <label class="control-label">Introduzca la contraseña de su cuenta de Paypal</label>
                                                                                <input type="password" class="form-control" asp-items="ViewBag.paypalID">

                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!--Fin del body del popup-->
                                                        <!-- Modal Footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Cerrar
                                                            </button>
                                                            <input type="button" class="btn btn-default" data-toggle="modal" data-target="#cuadritoWapeton7" value="Validar" />
                                                            <div class="modal fade" id="cuadritoWapeton7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                    <div class="modal-content">
                                                                        <!--Header del popup-->
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close"
                                                                                    data-dismiss="modal">
                                                                                <span aria-hidden="true">&times;</span>
                                                                                <span class="sr-only">Close</span>
                                                                            </button>
                                                                            <!--body del popup-->
                                                                            <div class="modal-body">
                                                                                <!--aqui va el formulario para paypal-->
                                                                                <p><i><b>Su pago es aceptado!</b></i></p>
                                                                            </div>
                                                                            <!--Fin del body del popup-->
                                                                            <!-- Modal Footer -->
                                                                            <div class="modal-footer">
                                                                                <button type="submit" style="border:none" class="btn btn-success pago" name="pago" value="no" data-dismiss="modal">
                                                                                    Procedes a finalizar compra
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>


                <table class="table table-bordered table-hover">
                    <thead style="background-color: gainsboro">
                        <tr>
                            <th colspan="2" class="col-md-3 text-center">Detalle de tu compra</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th class="col-sm-2 text-center"><b>SubTotal</b></th>
                            <th class="col-sm-1 text-center">

                                $0.00
                            </th>
                        </tr>
                        <tr>
                            <th class="col-sm-2 text-center">Descuento</th>
                            <th class="col-sm-1 text-center">

                                $0.00
                            </th>
                        </tr>
                        <tr>
                            <th class="col-sm-2 text-center">Descuento de cupón</th>
                            <th class="col-sm-1 text-center">

                                $0.00
                            </th>
                        </tr>
                        <tr>
                            <th class="col-sm-2 text-center"><h4><b>Total</b></h4></th>
                            <th class="col-sm-1 text-center">
                                <label asp-for="total" class="form-control" ReadOnly="readonly" />
                            </th>
                        </tr>

                    </tbody>
                </table>









                <div class="form-group">
                    <input type="submit" value="Finalizar compra" class="btn btn-success" />     <a class="btn btn-danger" asp-action="Index"><i class="fas fa-remove"></i> Cancelar</a>
                </div>

            </form>


        </div>

    </div>

</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script type="text/javascript">

        $(document).ready(function () {
            $(".envio").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'envio') {
                    $("#div1").css("display", "block");
                    $("#div2").css("display", "none");
                } else {
                    $("#div1").css("display", "none");
                    $("#div2").css("display", "block");
                }
            });
        });


        $(document).ready(function () {
            $(".pago").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'si') {
                    $("#divtar").css("display", "block");
                    $("#divnone").css("display", "none");
                } else {
                    $("#divtar").css("display", "none");
                    $("#divnone").css("display", "block");
                }
            });
        });

        $(document).ready(function () {
            $(".cupon").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'si') {
                    $("#divsi").css("display", "block");
                    $("#divno").css("display", "none");
                } else {
                    $("#divsi").css("display", "none");
                    $("#divno").css("display", "block");
                }
            });
        });

        $(document).ready(function () {
            $(".dir").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'direcciondelusuario') {
                    $("#diruser").css("display", "block");
                } else {
                    $("#diruser").css("display", "none");
                }
            });
        });


        $(document).ready(function () {
            $(".met").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'metusuario') {
                    $("#metuser").css("display", "block");
                } else {
                    $("#metuser").css("display", "none");
                }
            });
        });
    </script>
}
