@model tiendaOnline.Models.Orden
@using tiendaOnline.Data
@using Microsoft.AspNetCore.Identity
@using tiendaOnline.Areas.Identity.Data

<!--Inyeccion para obtener el id del usuario que ha iniciado sesion y hacer filtros en sus direcciones y tarjetas-->
@inject UserManager<tiendaOnlineUser> UserManager
    <!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Detalles de tu compra</h2>
<!--Muestra la fecha y hora actual-->
<div style="float:right;">
    <script type="text/javascript">
        //<![CDATA[
        var today = new Date();
        var m = today.getMonth() + 1;
        var mes = (m < 10) ? '0' + m : m;
        document.write('Fecha: ' + today.getDate(), '/' + mes, '/' + today.getFullYear());
        //]]>
    </script>

    <script type="text/javascript">
        function startTime() {
            today = new Date();
            h = today.getHours();
            m = today.getMinutes();
            s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout('startTime()', 500);
        }
        function checkTime(i) { if (i < 10) { i = "0" + i; } return i; }
        window.onload = function () { startTime(); }
    </script>
    <div id="reloj" style="font-size:20px;"></div>
</div>
<h4>Ya te falta poco!</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="container">
                <!--Muestra todos los productos seleccionados-->
                <div class="col-md-pull-7">
                    @{await Html.RenderPartialAsync("ListaProd");}
                </div>

                <!--Preguntarle si quiere envío o ir a recogerla a la sucursal-->
                <div class="col-md-pull-7">
                    <div class="panel panel-default panel-srcbox">
                        <div class="panel-heading">
                            <fieldset>
                                <legend><b>¿Desea recoger el producto o que se le envíe?</b></legend>
                                <div class="row">
                                    <div class="col-lg-pull-0">
                                        <div class="btn-group" data-toggle="buttons">
                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                                            <!--recoger en sucursal-->
                                            <label><p class="auto-style3"><input name="envio" class="envio" value="sucursal" type="radio" style="width: 17px; height: 17px" data-toggle="modal" data-target="#cuadritoWapeton3" />Recoger en sucursal</p></label>
                                            <br />

                                            <!--Popup para seleccion de sucursal-->
                                            <div class="modal fade " id="cuadritoWapeton3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <!--Header del popup-->
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">Close</span>
                                                            </button>
                                                            <h3 class="modal-title" id="myModalLabel"></h3>
                                                            <h4><b>Eliga la sucursal a la que irá a recoger su compra</b></h4>
                                                            <!--body del popup-->
                                                            <!--para mostrarle la sucursal-->
                                                            <div class="col-md-pull-12">
                                                                <br /><br />
                                                                @{ var suc = " "; var sucid = 0;}

                                                                @foreach (var linea in _context.Sucursal)
                                                                {
                                                                    sucid = linea.SucursalID;

                                                                    @foreach (var linea2 in _context.Direccion)
                                                                    {
                                                                        @if (linea.SucursalID == linea2.sucursalID)
                                                                        {
                                                                            @foreach (var linea3 in _context.Municipio)
                                                                            {
                                                                                @if (linea3.MunicipioID == linea2.MunicipioID)
                                                                                {
                                                                                    @foreach (var linea4 in _context.Departamento)
                                                                                    {
                                                                                        @if (linea3.DepartamentoID == linea4.DepartamentoID)
                                                                                        {
                                                                                            suc = linea.nombreSucursal + ". " + linea.horarioDeAtencion + " " + linea4.nombreDepartamento + ",  " + linea3.nombreMunicipio + ", " + linea2.direccionDetallada + ". Codigo postal: " + linea2.codigoPostal;
                                                                                            <button onclick="seleccionarSucursal('@suc','@sucid')" class="btn btn-default btn-block envio" name="envio" value="sucursal" data-dismiss="modal">
                                                                                                @Html.DisplayFor(subcategorias => linea.nombreSucursal)                                                                                       <br />
                                                                                                @Html.DisplayFor(subcategorias => linea4.nombreDepartamento),
                                                                                                @Html.DisplayFor(subcategorias => linea3.nombreMunicipio),
                                                                                                @Html.DisplayFor(subcategorias => linea2.direccionDetallada), Código postal:
                                                                                                @Html.DisplayFor(subcategorias => linea2.codigoPostal)<br />
                                                                                                @Html.DisplayFor(subcategorias => linea.horarioDeAtencion)
                                                                                            </button>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                            <!--Fin del body del popup-->
                                                            <!-- Modal Footer -->
                                                            <div class="modal-footer">
                                                                <button data-dismiss="modal">Cancelar</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--aqui se le debe mostrar la direccion de la sucursal seleccionada cuando le de guardar al popup-->
                                            <div class="col-lg-pull-0" id="div2" style="display:none">
                                                <div class="container">
                                                    <div class="col-lg-8">
                                                        <i id="sucursalElegida"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--cuando elige Metodo de envio-->
                                            <label> <p class="auto-style3"><input class="envio" name="envio" type="radio" style="width: 17px; height: 17px" value="enviar" />&nbsp;<span class="auto-style4">Metodo de envio</span></p> </label>

                                            <!--preguntarle q direccion elegira de enviar-->
                                            <div class="container">
                                                <div class="col-md-11" id="div1" style="display:none">
                                                    <div class="panel panel-default panel-srcbox">
                                                        <div class="panel-heading">
                                                            <fieldset>
                                                                <div class="row">
                                                                    <div class="col-lg-pull-0">
                                                                        <div class="btn-group" data-toggle="buttons">
                                                                            <label> <p class="auto-style3"><input name="direccion" type="radio" data-toggle="modal" data-target="#cuadritoWapeton6" style="width: 17px; height: 17px" value="Elegir dirección" />&nbsp;<span class="auto-style4">Elegir dirección de entrega</span></p> </label>


                                                                            <!--inicio popup de direcciones-->
                                                                            <div class="modal fade" id="cuadritoWapeton6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!--Header del popup-->
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span> </button>
                                                                                            <h3 class="modal-title" id="myModalLabel"></h3>
                                                                                            <h4><b>Elija la dirección en la que desea recibir su compra</b></h4>
                                                                                            <!--body del popup-->
                                                                                            <div class="modal-body">
                                                                                                <!--Aqui mandan a llamar a las direcciones-->
                                                                                                <div class="col-md-pull-0">
                                                                                                    <fieldset>
                                                                                                        <table>
                                                                                                            <tbody>
                                                                                                                @{ var dir = " "; var dirid = 0;}

                                                                                                                @foreach (var linea in _context.Direccion.Where(d => d.tiendaOnlineUserID == UserManager.GetUserId(User)))
                                                                                                                {
                                                                                                                    dirid = linea.DireccionID;

                                                                                                                    @foreach (var linea2 in _context.Municipio)
                                                                                                                    {
                                                                                                                        @if (linea.MunicipioID == linea2.MunicipioID)
                                                                                                                        {
                                                                                                                            @foreach (var linea3 in _context.Departamento)
                                                                                                                            {
                                                                                                                                @if (linea2.DepartamentoID == linea3.DepartamentoID)
                                                                                                                                {
                                                                                                                                    dir = linea3.nombreDepartamento + ", " + linea2.nombreMunicipio + ", " + linea.direccionDetallada + ". Código postal: " + linea.codigoPostal;
                                                                                                                                    <tr>
                                                                                                                                        <td style="text-align:center;">
                                                                                                                                            <button type="submit" onclick="seleccionarDireccion('@dir','@dirid')" style="border:none" class="btn btn-default btn-block dir" name="dir" value="direcciondelusuario" data-dismiss="modal">
                                                                                                                                                El Salvador, @Html.DisplayFor(modelItem => linea3.nombreDepartamento),
                                                                                                                                                @Html.DisplayFor(modelItem => linea2.nombreMunicipio),
                                                                                                                                                @Html.DisplayFor(modelItem => linea.direccionDetallada). <br />
                                                                                                                                                Código postal: @Html.DisplayFor(modelItem => linea.codigoPostal).
                                                                                                                                            </button>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                    <tr>
                                                                                                                                        <td>&nbsp;</td>
                                                                                                                                    </tr>
                                                                                                                                }
                                                                                                                            }
                                                                                                                        }
                                                                                                                    }
                                                                                                                }
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </fieldset>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--Fin del body del popup-->
                                                                                            <!-- Modal Footer -->
                                                                                            <div class="modal-footer">
                                                                                                <h6><i>Si no posee la dirección que desea, debe añadirla.</i></h6>
                                                                                                <a asp-action="Create" asp-controller="Direcciones" type="button" class="btn btn-primary">Registrar una dirección</a>
                                                                                                <button type="button" class="btn btn-default" data-dismiss="modal"> Cerrar  </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>





                                                                            <!--aqui se le debe mostrar la direccion del usuario seleccionada cuando le de guardar al popup-->
                                                                            <div class="form-group" id="diruser">

                                                                                <div class="col-md-12">
                                                                                    <p id="direccionElegida"></p>
                                                                                </div>
                                                                            </div>

                                                                            <label> <p class="auto-style3"><input id="metododeenvioseleccionado" name="metododeenvio" type="radio" data-toggle="modal" data-target="#cuadritoWapeton4" style="width: 17px; height: 17px" />&nbsp;<span class="auto-style4">Elegir método de envío</span></p> </label>


                                                                            <!--Popup para seleccion del metodo de envio-->
                                                                            <div class="modal fade" id="cuadritoWapeton4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                                <div class="modal-dialog">
                                                                                    <div class="modal-content">
                                                                                        <!--Header del popup-->
                                                                                        <div class="modal-header">
                                                                                            <button type="button" class="close"
                                                                                                    data-dismiss="modal">
                                                                                                <span aria-hidden="true">&times;</span>
                                                                                                <span class="sr-only">Close</span>
                                                                                            </button>
                                                                                            <h4 class="modal-title" id="myModalLabel">
                                                                                                Elegir método de envío que desea
                                                                                            </h4>
                                                                                            <!--body del popup-->
                                                                                            <div class="modal-body">
                                                                                                <form role="form">
                                                                                                    <!--Aqui mandan a llamar a los metodos de envio-->
                                                                                                    <table style="text-align:center;">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <th class="col-md-3" style="text-align:center;"><b>Monto extra</b></th>
                                                                                                                <th class="col-md-2" style="text-align:center;"><b>Días de envío</b></th>
                                                                                                                <th class="col-md-4" style="text-align:center;"><b>Nombre del intermediario</b></th>
                                                                                                            </tr>
                                                                                                            @{ var metodo = " "; var monto = " "; var metid = 0; var valormonto = 0.00;}
                                                                                                            @foreach (var linea in _context.MetodoEnvio)
                                                                                                            {
                                                                                                                metodo = ". Intermediario: " + linea.nombreMetodoEnvio + ". Promedio de días de entrega: (" + linea.minDiasEnvio + " - " + linea.maxDiasEnvio + "). Monto extra: $" + linea.montoEnvio;
                                                                                                                metid = linea.MetodoEnvioID;
                                                                                                                monto = "$" + linea.montoEnvio;
                                                                                                                valormonto = linea.montoEnvio;
                                                                                                                <tr>
                                                                                                                    <td class="col-md-3">
                                                                                                                        <button type="submit" style="border:none" class="btn btn-default btn-block met" name="met" onclick="seleccionarMetodo('@metodo','@metid','@monto','@valormonto')" value="metusuario" data-dismiss="modal">
                                                                                                                            $@Html.DisplayFor(modelItem => linea.montoEnvio)
                                                                                                                        </button>
                                                                                                                    </td>
                                                                                                                    <td class="col-md-2">
                                                                                                                        <button type="submit" style="border:none" onclick="seleccionarMetodo('@metodo','@metid','@monto','@valormonto')" class="btn btn-default btn-block met" name="met" value="metusuario" data-dismiss="modal">
                                                                                                                            (@Html.DisplayFor(modelItem => linea.minDiasEnvio) -  @Html.DisplayFor(modelItem => linea.maxDiasEnvio))
                                                                                                                        </button>
                                                                                                                    </td>
                                                                                                                    <td class="col-md-4">
                                                                                                                        <button type="submit" onclick="seleccionarMetodo('@metodo','@metid','@monto','@valormonto')" style="border:none" class="btn btn-default btn-block met" name="met" value="metusuario" data-dismiss="modal">
                                                                                                                            @Html.DisplayFor(modelItem => linea.nombreMetodoEnvio)
                                                                                                                        </button>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                                <tr>
                                                                                                                    <td>&nbsp;</td>
                                                                                                                    <td>&nbsp;</td>
                                                                                                                    <td>&nbsp;</td>
                                                                                                                </tr>
                                                                                                            }
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </form>
                                                                                            </div>
                                                                                            <!--Fin del body del popup-->
                                                                                            <!-- Modal Footer -->
                                                                                            <div class="modal-footer">
                                                                                                <button type="button" class="btn btn-default"
                                                                                                        data-dismiss="modal">
                                                                                                    Cerrar
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>



                                                                            <!--aqui se le debe mostrar el metodo de envio seleccionada cuando le de guardar al popup-->
                                                                            <div class="form-group" id="metuser">
                                                                                <p id="metodoElegido"></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <!--Pregunta si utilizará cupón el usuario-->
              
                    <aside class="col-md-6">
                        <div class="col-lg-pull-0">
                            <div class="panel panel-default panel-srcbox">
                                <div class="panel-heading">
                                    <fieldset>
                                        <legend><b>¿Utilizará algún cupón en esta compra?</b></legend>
                                        <div class="col-lg-pull-0">
                                            <label> <p class="auto-style3"><input name="cupon" type="radio" style="width: 17px; height: 17px" value="si" data-toggle="modal" data-target="#cuadritoWapeton5" /><span class="auto-style4"> Si</span></p> </label>


                                            <!--inicio popup del cupon-->
                                            <div class="modal fade" id="cuadritoWapeton5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!--Header del popup-->
                                                        <div class="modal-header">
                                                            <button type="button" class="close"
                                                                    data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">Close</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">
                                                                Seleccione su cupón
                                                            </h4>
                                                            <div class="modal-body">

                                                                <!--aqui va el formulario para cupon-->
                                                                <table style="text-align:center;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="col-md-3" style="text-align:center;"><b>Cupón</b></td>
                                                                            <td class="col-md-4" style="text-align:center;"><b>Periodo de vigencia</b></td>
                                                                            <td class="col-md-4" style="text-align:center;"><b>Monto de descuento</b></td>
                                                                        </tr>
                                                                        @{ var cupon = " "; var montoc = 0.01; var cuponid = 0;}
                                                                        @foreach (var linea in _context.Cupon)
                                                                        {
                                                                            cupon = linea.descripcionCupon + ". Periodo de vigencia: (" + linea.fechaCreacion.ToShortDateString() + " - " + linea.fechaVencimiento.ToShortDateString() + "). Monto de descuento: $" + linea.montoCupon;
                                                                            cuponid = linea.CuponID;
                                                                            montoc = linea.montoCupon;
                                                                            <tr>
                                                                                <td class="col-md-3">
                                                                                    <button type="submit" style="border:none" class="btn btn-default btn-block cupon" name="cupon" onclick="seleccionarCupon('@cupon','@cuponid','@montoc')" value="si" data-dismiss="modal">
                                                                                        @Html.DisplayFor(modelItem => linea.descripcionCupon)
                                                                                    </button>
                                                                                </td>
                                                                                <td class="col-md-2">
                                                                                    <button type="submit" style="border:none" onclick="seleccionarCupon('@cupon','@cuponid','@montoc')" class="btn btn-default btn-block cupon" name="cupon" value="si" data-dismiss="modal">
                                                                                        (@Html.DisplayFor(modelItem => linea.fechaCreacion.Day)/@Html.DisplayFor(modelItem => linea.fechaCreacion.Month)/@Html.DisplayFor(modelItem => linea.fechaCreacion.Year) -  @Html.DisplayFor(modelItem => linea.fechaVencimiento.Day)/@Html.DisplayFor(modelItem => linea.fechaVencimiento.Month)/@Html.DisplayFor(modelItem => linea.fechaVencimiento.Year))
                                                                                    </button>
                                                                                </td>
                                                                                <td class="col-md-4">
                                                                                    <button type="submit" onclick="seleccionarCupon('@cupon','@cuponid','@montoc')" style="border:none" class="btn btn-default btn-block cupon" name="cupon" value="si" data-dismiss="modal">
                                                                                        $@Html.DisplayFor(modelItem => linea.montoCupon).00
                                                                                    </button>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <!--Fin del body del popup-->
                                                        <!-- Modal Footer -->
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">
                                                                Cerrar
                                                            </button>
                                                            <button type="submit" style="border:none" class="btn btn-success cupon" name="cupon" value="si" data-dismiss="modal">
                                                                Validar
                                                            </button>
                                                            <br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="container">
                                                <div class="col-md-5" id="divsi" style="display:none">
                                                    <!--aqui se le debe mostrar el cupon del usuario seleccionada cuando le de guardar al popup-->
                                                    <div class="form-group" id="diruser">
                                                        <p id="cuponElegido"></p>
                                                    </div>
                                                </div>
                                            </div>


                                            <label> <p class="auto-style3"><input class="cupon" name="cupon" type="radio" style="width: 17px; height: 17px" value="no" /><span class="auto-style4"> No</span></p>    </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </aside>

                    <!--Preguntarle si quiere pagar con tarjeta o paypal-->

                    <aside class="col-md-6">
                        <div class="col-md-pull-7">
                            <div class="panel panel-default panel-srcbox">
                                <div class="panel-heading">
                                    <fieldset>
                                        <legend><b>¿Desea realizar pago con tarjeta o paypal?</b></legend>
                                        <div class="row">
                                            <div class="col-lg-pull-0">
                                                <div class="btn-group" data-toggle="buttons">
                                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
                                                    <label> <p class="auto-style3"><input class="pago" name="pago" type="radio" style="width: 17px; height: 17px" value="tarjeta" data-toggle="modal" data-target="#cuadritoWapeton1" /><span class="auto-style4"> Seleccionar tarjeta</span></p>   </label>
                                                    <br />



                                                    <!--aqui comienza lo que saldria del primer popup-->
                                                    <div class="modal fade" id="cuadritoWapeton1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!--Header del popup-->
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                                        <span aria-hidden="true">&times;</span>
                                                                        <span class="sr-only">Close</span>
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">
                                                                        Elegir tarjeta para realizar el pago
                                                                    </h4>
                                                                    <!--body del popup-->
                                                                    <div class="modal-body">

                                                                        <!--Aqui mandan a llamar a las tarjetas-->
                                                                        <div class="col-md-pull-0">

                                                                            <fieldset>
                                                                                <table>
                                                                                    <tbody style="text-align:center;">

                                                                                        <tr>
                                                                                            <td style="padding-left:15px;"><b>Tipo de tarjeta</b></td>
                                                                                            <td style="padding-left:15px;"><b>Titular</b></td>
                                                                                            <td style="padding-left:15px;"><b>Fecha de vencimiento</b></td>
                                                                                        </tr>
                                                                                        <tr>

                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                            <td>&nbsp;</td>
                                                                                        </tr>

                                                                                        @{ var tarjeta = " "; var tarjetaid = 0;}
                                                                                        @foreach (var linea in _context.Tarjeta.Where(d => d.tiendaOnlineUserID == UserManager.GetUserId(User)))
                                                                                        {
                                                                                            tarjeta = "Tipo de tarjeta: " + linea.tipoTarjeta + ". Titular: " + linea.titularTarjeta + ". Fecha de vencimiento: " + linea.fechaVencimiento.Month + "/" + linea.fechaVencimiento.Year;
                                                                                            tarjetaid = linea.TarjetaID;
                                                                                            <tr>
                                                                                                <td style="padding-left:15px;">
                                                                                                    <button onclick="seleccionarTarjeta('@tarjeta','@tarjetaid')" type="submit" style="border:none" class="btn btn-default btn-block pag" name="pag" value="tarj" data-dismiss="modal">
                                                                                                        @Html.DisplayFor(modelItem => linea.tipoTarjeta)
                                                                                                    </button>
                                                                                                </td>
                                                                                                <td style="padding-left:20px;">
                                                                                                    <button onclick="seleccionarTarjeta('@tarjeta','@tarjetaid')" type="submit" style="border:none" class="btn btn-default btn-block pag" name="pag" value="tarj" data-dismiss="modal">
                                                                                                        @Html.DisplayFor(modelItem => linea.titularTarjeta)
                                                                                                    </button>
                                                                                                </td>
                                                                                                <td style="padding-left:20px;">
                                                                                                    <button onclick="seleccionarTarjeta('@tarjeta','@tarjetaid')" type="submit" style="border:none" class="btn btn-default btn-block pag" name="pag" value="tarj" data-dismiss="modal">
                                                                                                        @Html.DisplayFor(modelItem => linea.fechaVencimiento.Month) / @Html.DisplayFor(modelItem => linea.fechaVencimiento.Year)
                                                                                                    </button>
                                                                                                </td>
                                                                                            </tr>
                                                                                        }


                                                                                    </tbody>
                                                                                </table>
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                    <!--Fin del body del popup-->
                                                                    <!-- Modal Footer -->
                                                                    <div class="modal-footer">
                                                                        <h6><i>Si no le aparece la tarjeta que desea, debe añadirla.</i></h6>
                                                                        <a asp-action="Create" asp-controller="Tarjetas" type="button" class="btn btn-primary">Registrar una tarjeta</a>

                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">  Cerrar </button>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--aqui se le debe mostrar la tarjeta usará, hay que validar q solo le aparezcan las tarjetas de ese usuario y q la fecha solo muestre mes y año cuando le de guardar al popup-->

                                                    <div class="container">
                                                        <div class="col-md-5" id="divtar" style="display:none">
                                                            <div class="form-group" id="tarjetauser">
                                                                <div class="col-md-9">
                                                                    <p id="tarjetaElegida"></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <label>  <p class="auto-style3"><input class="pago" name="pago" value="paypal" type="radio" style="width: 17px; height: 17px" data-toggle="modal" data-target="#cuadritoWapeton2" /><span class="auto-style4"> Realizar con Paypal</span></p>  </label>



                                                    <!--inicio popup paypal-->
                                                    <div class="modal fade" id="cuadritoWapeton2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <!--Header del popup-->
                                                                <div class="modal-header">
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal">
                                                                        <span aria-hidden="true">&times;</span>
                                                                        <span class="sr-only">Close</span>
                                                                    </button>
                                                                    <h4 class="modal-title" id="myModalLabel">
                                                                        Pago con Paypal
                                                                    </h4>
                                                                    <!--body del popup-->
                                                                    <div class="modal-body">
                                                                        <!--aqui va el formulario para paypal-->
                                                                        <div class="col-md-pull-0">
                                                                            <div class="panel panel-default panel-srcbox">
                                                                                <div class="panel-heading">
                                                                                    <fieldset>
                                                                                        <label class="control-label">Introduzca el correo de su cuenta de Paypal</label>
                                                                                        <input id="pay" class="form-control" asp-items="ViewBag.paypalID"> <br /><br />
                                                                                        <label class="control-label">Introduzca la contraseña de su cuenta de Paypal</label>
                                                                                        <input type="password" class="form-control" asp-items="ViewBag.paypalID">

                                                                                    </fieldset>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--Fin del body del popup-->
                                                                <!-- Modal Footer -->
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default"
                                                                            data-dismiss="modal">
                                                                        Cerrar
                                                                    </button>
                                                                    <input type="button" class="btn btn-default" data-toggle="modal" data-target="#cuadritoWapeton7" value="Validar" />
                                                                    <div class="modal fade" id="cuadritoWapeton7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <!--Header del popup-->
                                                                                <div class="modal-header">
                                                                                    <button type="button" class="close"
                                                                                            data-dismiss="modal">
                                                                                        <span aria-hidden="true">&times;</span>
                                                                                        <span class="sr-only">Close</span>
                                                                                    </button>
                                                                                    <!--body del popup-->
                                                                                    <div class="modal-body">
                                                                                        <!--aqui va el formulario para paypal-->
                                                                                        <p><i><b>Su pago es aceptado!</b></i></p>
                                                                                    </div>
                                                                                    <!--Fin del body del popup-->
                                                                                    <!-- Modal Footer -->
                                                                                    <div class="modal-footer">
                                                                                        <button type="submit" style="border:none" class="btn btn-success paypal" name="paypal" value="paypal" data-dismiss="modal">
                                                                                            Finalizar compra
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!--depues de ingresar la  cuenta de paypal que usará cuando le de cotinuar al popup-->

                                                    <div class="col-lg-pull-0" id="divnone" style="display:none">
                                                        <div class="container">
                                                            <div class="form-group" id="paypaluser" style="display:none">
                                                                <div class="col-lg-8">
                                                                    <p> Compra permitida </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </aside>
             
    

                <table class="table table-bordered table-hover">
                    <thead style="background-color: gainsboro">
                        <tr>
                            <th colspan="2" class="col-md-3 text-center">Detalle de tu compra</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <th class="col-sm-2 text-center"><b>SubTotal</b></th>
                            <th class="col-sm-1 text-center">
                                @*Costo de los productos sin descuento*@
                                @{ var subtotal = _context.ProdCarrito.Where(d => d.CarritoID == _context.Carrito.SingleOrDefault(c => c.tiendaOnlineUserID == UserManager.GetUserId(User)).CarritoID && d.IsSelected == true)
                                                        .Select(c => Math.Round(c.producto.PrecioUnitario, 2) * c.cantidadProducto).Sum(); }
                                $@String.Format("{0:0.00}", subtotal)
                            </th>
                        </tr>
                        <tr>
                            <th class="col-sm-2 text-center">Costo de envio</th>
                            <th class="col-sm-1 text-center">

                                <p id="montoElegido"></p>

                            </th>
                        </tr>
                        <tr>
                            <th class="col-sm-2 text-center"><b>Descuentos</b></th>
                            <th class="col-sm-1 text-center">
                                @*total es el costo ya con descuento, es mas facil de sacar que solo el descuento*@
                                @{ var total = _context.Carrito.SingleOrDefault(c => c.tiendaOnlineUserID == UserManager.GetUserId(User)).GetcarritoTotal();}
                                @{ var desc = subtotal - total;}
                                -$@String.Format("{0:0.00}", subtotal - total)

                            </th>
                        </tr>

                        <tr>
                            <th class="col-sm-2 text-center">Descuento de cupón</th>
                            <th class="col-sm-1 text-center">
                                <p id="montoCuponElegido"></p>
                            </th>
                        </tr>
                        <tr>
                            <th class="col-sm-2 text-center"><h4><b>Total</b></h4></th>
                            <th class="col-sm-1 text-center">
                                <!--capturo el id del metodo de envio en el siguiente input para mandarlo guardado-->

                                <p id="totalstring"></p>



                            </th>
                        </tr>
                    </tbody>
                </table>

                <!--parte importante-->

                <br />
                <div class="form-group">
                    <!--capturo el id de la direccion en el siguiente input para mandarlo guardado-->
                    <select asp-for="direccionID" id="direccionid" asp-items="ViewBag.direccionID" class="form-control"></select> <!--<option>0</option>-->
                </div>
                <div class="form-group">
                    <!--capturo el id del cupon en el siguiente input para mandarlo guardado
        <input id="cuponid" asp-for="cuponID" class="form-control" />-->
                    <select id="cuponid" class="form-control" asp-for="cuponID" asp-items="ViewBag.cuponID"></select>
                </div>
                <div class="form-group">
                    <!--capturo el id del metodo de envio en el siguiente input para mandarlo guardado-->
                    <select asp-for="tarjetaID" id="tarjetid" asp-items="ViewBag.tarjetaID" class="form-control"></select>
                </div>
                <div class="form-group">
                    <!--capturo el id del metodo de envio en el siguiente input para mandarlo guardado
        <input id="metodoEid" asp-for="metodoEnvioID" class="form-control" />-->
                    <select id="metodoEid" class="form-control" asp-for="metodoEnvioID" asp-items="ViewBag.metodoEnvioID"></select>

                </div>
                <div class="form-group">
                    <!--capturo el id de la sucursal en el siguiente input para mandarlo guardado-->
                    <select id="sucursalid" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <!--capturo el total de la orden en el siguiente input para mandarlo guardado-->
                    <input id="finalfactura" asp-for="total" class="form-control" />

                </div>

                <!--Utilizados para las operaciones-->
                <input id="subtot" value="@subtotal" class="form-control" />
                <input id="montoElegido2" class="form-control" />
                <input id="descuento" value="@desc" class="form-control" />
                <input id="montoCuponElegido2" class="form-control" />
                <input id="totalfinal" class="form-control" />
                <input id="finalfactura" class="form-control" />



                @*
        <!--muestra el total-->
        <div class="form-group">
            <label asp-for="total" class="control-label"></label>
            <input asp-for="total" class="form-control" />
            <span asp-validation-for="total" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="metodoEnvioID" class="control-label"></label>
            <select asp-for="metodoEnvioID" class="form-control" asp-items="ViewBag.metodoEnvioID"></select>
        </div>

        <div class="form-group">
            <label asp-for="cuponID" class="control-label"></label>
            <select asp-for="cuponID" class="form-control" asp-items="ViewBag.cuponID"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>


                *@
                <div class="form-group">
                    <input type="submit" value="Realizar compra" class="btn btn-primary" />     <a class="btn btn-default" asp-action="Index" asp-controller="Carritos"><i class="fas fa-remove"></i> Cancelar</a>
                </div>


</form>
    </div>
</div>

   



@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script type="text/javascript">

        var totalfinal = 0;
        var final = 0;
        totalfinal += parseFloat($("#subtot").val()) - parseFloat($("#descuento").val());
        final = "$" + parseFloat(totalfinal).toFixed(2);
        $("#totalstring").text(final);
        $("#totalfinal").val(totalfinal);
        var t = "$0.00";
        $("#montoElegido").text(t);
        $("#montoCuponElegido").text(t);
        var finalfac = totalfinal;
        $("#finalfactura").val(finalfac);
        $("#tarjetaid").val(null);
        $("#direccionid").val(null);

        $(document).ready(function () {
            $(".envio").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'enviar') {
                    $("#div1").css("display", "block");
                    $("#div2").css("display", "none");
                } else {
                    $("#div1").css("display", "none");
                    $("#div2").css("display", "block");

                }
            });
        });


        $(document).ready(function () {
            $(".pago").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'tarjeta') {
                    $("#divtar").css("display", "block");
                    $("#divnone").css("display", "none");
                } else {
                    $("#divtar").css("display", "none");
                    $("#divnone").css("display", "block");
                }
            });
        });



        $(document).ready(function () {
            $(".cupon").click(function (evento) {

                var valor = $(this).val();

                if (valor == 'si') {
                    $("#divsi").css("display", "block");


                }
                if (valor == 'no') {
                    $("#divsi").css("display", "none");
                    if (parseFloat($("#montoCuponElegido2").val()) > 0) {
                        totalfinal += parseFloat($("#montoCuponElegido2").val());
                        $("#totalfinal").val(totalfinal);
                        final = "$" + parseFloat(totalfinal).toFixed(2);
                        $("#totalstring").text(final);
                        finalfac = parseFloat(parseFloat(totalfinal).toFixed(2))
                        $("#finalfactura").val(finalfac);
                    }
                    seleccionarCupon(' ', null, 0);

                }
            });
        });

        $(document).ready(function () {
            $(".dir").click(function (evento) {
                var valor = $(this).val();
                if (valor == 'direcciondelusuario') {
                    $("#diruser").css("display", "block");
                } else {
                    $("#diruser").css("display", "none");
                }
            });
        });

        $(document).ready(function () {
            $(".pag").click(function (evento) {
                var valor = $(this).val();
                if (valor == 'tarj') {
                    $("#tarjetauser").css("display", "block");
                } else {
                    $("#tarjetauser").css("display", "none");
                }
            });
        });

        $(document).ready(function () {
            $(".paypal").click(function (evento) {
                var valor = $(this).val();
                if (valor == 'paypal') {
                    $("#paypaluser").css("display", "block");
                } else {
                    $("#paypaluser").css("display", "none");
                }
            });
        });
        // totalfinal += parseFloat(valor); numero

        // final = parseFloat(totalfinal).toFixed(2);texto

        // final = parseFloat(final); numero 2 decimales

        function seleccionarMetodo(met, id, mont, valor) {
            $("#metodoElegido").text(met);
            $("#metodoEid").val(id);
            $("#montoElegido").text(mont);
            $("#montoElegido2").val(valor);
            totalfinal += parseFloat(valor);
            $("#totalfinal").val(totalfinal);
            final = "$" + parseFloat(totalfinal).toFixed(2);
            $("#totalstring").text(final);
            finalfac = parseFloat(parseFloat(totalfinal).toFixed(2))
            $("#finalfactura").val(finalfac);
        }


        function seleccionarCupon(met, id, mont) {
            $("#cuponElegido").text(met);
            var mon = "-$" + parseFloat(mont).toFixed(2);
            $("#montoCuponElegido").text(mon);
            $("#montoCuponElegido2").val(mont);
            $("#cuponid").val(id);
            totalfinal -= mont;
            $("#totalfinal").val(totalfinal);
            final = "$" + parseFloat(totalfinal).toFixed(2);
            $("#totalstring").text(final);
            finalfac = parseFloat(parseFloat(totalfinal).toFixed(2))
            $("#finalfactura").val(finalfac);
        }

        function seleccionarSucursal(met, id) {
            if (parseFloat($("#montoElegido2").val()) > 0) {
                totalfinal -= parseFloat($("#montoElegido2").val());
                $("#totalfinal").val(totalfinal);
                final = "$" + parseFloat(totalfinal).toFixed(2);
                $("#totalstring").text(final);
                finalfac = parseFloat(parseFloat(totalfinal).toFixed(2))
                $("#finalfactura").val(finalfac);
            }
            seleccionarDireccion(' ', null);
            seleccionarMetodo(' ', null, '$0.00', 0);
            $("#sucursalElegida").text(met);
            $("#sucursalid").val(id);
        }

        function seleccionarDireccion(met, id) {
            $("#direccionElegida").text(met);
            $("#direccionid").val(id);
        }

        function seleccionarTarjeta(met, id) {
            $("#tarjetaElegida").text(met);
            $("#tarjetid").val(id);
        }




    </script>
}
