@model tiendaOnline.Models.Orden


@using tiendaOnline.Data

<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "Detalles de tu compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de tu compra</h2>

<!--Muestra la fecha y hra actual-->
<div style="float:right;">
    <script type="text/javascript">
        //<![CDATA[
        var today = new Date();
        var m = today.getMonth() + 1;
        var mes = (m < 10) ? '0' + m : m;
        document.write('Fecha: ' + today.getDate(), '/' + mes, '/' + today.getFullYear());
        //]]>
    </script>

    <script type="text/javascript">
        function startTime() {
            today = new Date();
            h = today.getHours();
            m = today.getMinutes();
            s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('reloj').innerHTML = h + ":" + m + ":" + s;
            t = setTimeout('startTime()', 500);
        }
        function checkTime(i) { if (i < 10) { i = "0" + i; } return i; }
        window.onload = function () { startTime(); }
    </script>
    <div id="reloj" style="font-size:20px;"></div>
</div>
<h4>Ya te falta poco!</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <!--Mostrar acá a los productos del usuario, foto, nombre, cantidad, precio unitario, subtotal de c/u-->
            @{await
                                Html.RenderPartialAsync("ListaProd");
            }

            <!--Preguntarle si quiere envío o ir a recogerla a la sucursal-->
            <br />
            <br />
            <div class="container">
                <div class="col-md-pull-7">
                    <div class="panel panel-default panel-srcbox">
                        <div class="panel-heading">
                            <fieldset>
                                <legend><b>¿Desea recoger el producto o que se le envíe?</b></legend>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label>
                                                <input type="radio" id="sucursal" name="envio" checked="checked" value="sucursal" /> Recoger en la sucursal
                                            </label><br />



                                            <br />
                                            <label>
                                                <input type="radio" id="enviado" name="envio" value="enviado" /> Método de envío
                                            </label>

                                        </div>
                                        <div class="col-md-10">
                                            <div class="panel panel-default panel-srcbox">
                                                <div class="panel-heading">
                                                    <fieldset>
                                                        <table>
                                                            <tbody>
                                                                <!--
                                                        <tr>
                                                            <td style="padding-left:5px;"> <input type="radio" name="ninguno" value="ninguno" id="ninguno" checked="checked"></td>
                                                            <td style="padding-left:5px;"> <label for="h">Ninguno</label></td>
                                                        </tr>
                                                            -->
                                                                <tr>
                                                                    <td style="padding-left:5px;"></td>
                                                                    <td style="padding-left:15px;"><b>Monto extra</b></td>
                                                                    <td colspan="2" style="padding-left:15px;"><b>&nbsp;Días de envío</b></td>
                                                                    <td style="padding-left:15px;"><b>Nombre del intermediario</b></td>

                                                                </tr>
                                                                <tr>
                                                                    <td>&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                    <td>&nbsp;</td>
                                                                </tr>
                                                                @foreach (var linea in _context.MetodoEnvio)
                                                                {

                                                                    <tr>
                                                                        <td style="padding-left:5px;"> <input type="radio" name="hm" value="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID" id="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"></td>
                                                                        <td style="padding-left:15px;"> <label style="right" for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"> $@Html.DisplayFor(modelItem => linea.montoEnvio)</label></td>
                                                                        <td style="padding-left:20px;"> <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID">( @Html.DisplayFor(modelItem => linea.minDiasEnvio)</label> &nbsp; &nbsp; &nbsp; - </td>
                                                                        <td style="padding-left:20px;"> <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"> @Html.DisplayFor(modelItem => linea.maxDiasEnvio) )</label></td>
                                                                        <td style="padding-left:20px;"> <label for="@ViewData["metodoEnvioID"]@linea.MetodoEnvioID"> @Html.DisplayFor(modelItem => linea.nombreMetodoEnvio)</label></td>
                                                                    </tr>
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <br />
                <!--Preguntarle si quiere pagar con tarjeta o paypal-->
                <div class="panel panel-default panel-srcbox">
                    <div class="panel-heading">
                        <fieldset>
                            <legend><b>¿Desea realizar pago con tarjeta o paypal?</b></legend>
                            <div class="row">
                                <div class="col-sm-9">
                                    <div class="btn-group" data-toggle="buttons">
                                        <label>
                                            <input type="radio" id="tarjeta" name="pago" checked="checked" value="tarjeta" /> Realizar pago con tarjeta de crédito
                                        </label><br />
                                        <label>
                                            <input type="radio" id="paypal" name="pago" value="paypal" />  Realizar pago con Paypal
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <br /><br /><br />



                <!--
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="estadoDeOrden" /> Html.DisplayNameFor(model => model.estadoDeOrden)
                </label>
            </div>
        </div>
            <div class="form-group">
            <label asp-for="tiendaOnlineUserID" class="control-label"></label>
            <select asp-for="tiendaOnlineUserID" class="form-control" asp-items="ViewBag.tiendaOnlineUserID"></select>
        </div>
                        <div class="form-group">
                        <label asp-for="metodoEnvio" class="control-label"></label>
                        <select asp-for="metodoEnvioID" class="form-control" asp-items="ViewBag.metodoEnvioID"></select>
                    </div>
        -->






                <br />
                <div class="col-md-3">
                    <div class="panel panel-default panel-srcbox">
                        <div class="panel-heading">
                            <fieldset>
                                <legend><b>¿Posee algún cupón?</b></legend>
                                <div class="row">
                                    <div class="col-sm-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label>
                                                <input type="radio" id="concupon" name="cupon" checked="checked" value="concupon" /> Si
                                            </label>
                                            <br />
                                            <label>
                                                <input type="radio" id="sincupon" name="cupon" value="sincupon" /> No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br /><br />
            <div class="form-group">
                <label asp-for="cupon.codigoCupon" class="control-label"></label>
                <input asp-for="cupon.codigoCupon" class="form-control" asp-items="ViewBag.cuponID"></input>
                <span asp-validation-for="cupon.codigoCupon" class="text-danger"></span>
            </div>

           

            <!--muestra el total-->
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Finalizar compra" class="btn btn-success" />     <a class="btn btn-danger" asp-action="Index"><i class="fas fa-remove"></i> Cancelar</a>
            </div>
        </form>

    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function activar() {
            frm = document.forms[0];
            for (i = 0; ele = frm.getElementsByTagName('select')[i]; i++)
                ele.style.display = 'none';
            for (i = 0; ele = arguments[i]; i++)
                frm[ele].style.display = 'block';
        }
    </script>
}
