@model tiendaOnline.Models.Orden

@{
    ViewData["Title"] = "Eliminar orden de compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Realmente desea eliminar esta orden de compra</h3>
<div>
    <h4>Orden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fechaOrden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaOrden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.total)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.estadoDeOrden)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.estadoDeOrden)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.metodoEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.metodoEnvio.nombreMetodoEnvio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cupon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cupon.CuponID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrdenID" />
        <input type="submit" value="Eliminar" class="btn btn-default" />
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Órdenes</a>
    </form>
</div>
