@model IEnumerable<tiendaOnline.Models.Orden>

@using tiendaOnline.Data

@{
    ViewData["Title"] = "Órdenes de compra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context

<h2>Órdenes de compra</h2>

@*<p>
        <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Agregar </a>
    </p>*@
<br /><br />
<table class="table">
    <thead >
        <tr >

            <th style="text-align:center">
              Estado de la orden
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.fechaOrden)
            </th>
            <th  style="text-align:center">
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th style="text-align:center">
                Email de usuario
                @*@Html.DisplayNameFor(model => model.tiendaOnlineUser)*@
            </th>
            <th style="text-align:center">
              Método de obtención
            </th>
            <th style="text-align:center">
                Cupón
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="text-align:center">
        @foreach (var item in Model.Reverse())
        {
            <tr>

                <td>
                    @* aqui el boton de finalizar orden *@
                    @if (item.estadoDeOrden == true)
                    {
                        <p class="button">
                            <a class="btn btn-danger" id="Finalizar"
                               asp-controller="Ordenes"
                               asp-action="FinalizarOrden"
                               asp-route-id="@item.OrdenID">
                                En proceso
                            </a>
                        </p>
                    }
                    else
                    {
                        <div class="button disabled">
                            <a class="btn btn-success disabled" id="Finalizar"
                               asp-route-id="@item.OrdenID">
                                Finalizada
                            </a>
                        </div>
                         
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaOrden)
                </td>
                 <td><center>
                    $@String.Format("{0:0.00}", item.total)
                </center>
               </td>
               <td>

                        @* @_context.Users.FirstOrDefault(c => c.Id == item.tiendaOnlineUserID).Email*@
                      
                        @try{
                        @_context.Users.FirstOrDefault(c => c.Id == item.tiendaOnlineUserID).Email
                        }
                        catch
                    {
                    <h5>-</h5>
                    }

                </td>
               <td>
                   @if (item.metodoEnvioID == null)
                   {
                       <i>Recogera en la sucursal</i>
                   }
                   else
                   {
                       <p style="color:slateblue">
                           <i>Envío con: </i><br /> @Html.DisplayFor(modelItem => item.metodoEnvio.nombreMetodoEnvio)</p>
                           }
                   </td>
               <td>
                   @if (item.cuponID == null)
                   {
                       <i>No utilizó cupón</i>
                   }
                   else
                   {
                       <p style="color:blue"> <i> Efectuó:</i><br /> @Html.DisplayFor(modelItem => item.cupon.descripcionCupon)</p>
                   }

               </td>
                <td>                 
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.OrdenID"><i class="fa fa-info"></i></a>                  
                </td>
            </tr>
        }
    </tbody>
</table>
