@model tiendaOnline.Models.Categoria

@{
    ViewData["Title"] = "Eliminar categoría";
}

<h2>Delete</h2>

<h3>¿Realmente desea eliminar esta categoría?</h3>
<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stockMax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stockMax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stockMin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stockMin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoriaID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Categorias</a>
    </form>
</div>
