@model tiendaOnline.Models.Categoria

@{
    ViewData["Title"] = "Detalles";
}

<h2>@Model.nombre_categoria</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre_categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stockMax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stockMax)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.stockMin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stockMin)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.CategoriaID"><i class="fa fa-pen"></i> Editar</a> |
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i></a>
</div>
