@model tiendaOnline.Models.TipoDePago

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoDePago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Paypal.PaypalID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tarjeta.TarjetaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoDePagoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
