@using tiendaOnline.Data

<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context

@model IEnumerable<tiendaOnline.Models.Subcategoria>

@{
    ViewData["Title"] = "iBuy";
}


<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <thead><tr><th>Categorías</th></tr></thead>
            <!--Menu de categorias y subcategorias-->

            @foreach (var categoria in _context.Categoria)
            {
                <tr>
                    <td>
                        <div class="dropdown">
                            <a href="#" class="dropbtn">
                                @Html.DisplayFor(modelItem => categoria.nombre_categoria)
                            </a>
                            <div class="dropdown-content">
                                @foreach (var subcategoria in _context.Subcategoria)
                                {@if (categoria.CategoriaID == subcategoria.CategoriaID)
                                    {
                                            <a href="#">@Html.DisplayFor(subcategorias => subcategoria.nombreSubcategoria)</a>
                                    }
                            }
                            </div>

                        </div>


                    </td>
                </tr>
            }



        </table>
    </div>
    <!--Slideshows de banner-->
        <div class="col-md-9">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <!--p>
                                Learn how to build ASP.NET apps that can run anywhere.
                                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                                    Learn More
                                </a>
                            </p-->
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/images/banner2.jpg" alt="Visual Studio" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <!--p>
                                There are powerful new features in Visual Studio for building modern web apps.
                                <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                                    Learn More
                                </a>
                            </p-->
                        </div>
                    </div>
                    <div class="item">
                        <img src="~/images/banner3.jpg" alt="Microsoft Azure" class="img-responsive" />
                        <div class="carousel-caption" role="option">
                            <p>
                                Nuevos descuentos se aproximan
                                <!--a> class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                    Learn More
                                </a-->
                            </p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>OFERTAS</h3>
         </div>
        <div>
            @foreach (var producto in _context.Producto)
            {
            <div class="col-md-3">
                <img height=260px width=260px src="~/images/productos/@Html.DisplayFor(modelItem => producto.Imagen)" />
                <h4>@Html.DisplayFor(modelItem => producto.Precio)</h4>
                <a asp-action="Details" asp-route-id="@producto.ProductoID">@Html.DisplayFor(modelItem => producto.NombreProducto)</a>


                <div class="agregarCarrito text-left">
                    <p class="button">
                        <a class="btn btn-success" id="cartButton"
                           asp-controller="Carrito"
                           asp-action="AgregarCarrito"
                           asp-route-idProducto="@producto.ProductoID">
                            Añadir al carrito
                        </a>
                    </p>

                </div>
            </div>
            }
        </div>
        <div class="customSizeBox">
            <div class="col-md-3"><img height=260px width=260px src="~/images/gris.jpg"/>
                <h4>$1000.00</h4><p>Producto</p></div>            
            <div class="col-md-3"><img height=260px width=260px src="~/images/gris.jpg"/>
                <h4>$1000.00</h4><p>Producto</p></div>
            <div class="col-md-3"><img height=260px width=260px src="~/images/gris.jpg"/>
                <h4>$1000.00</h4><p>Producto</p></div>
            <div class="col-md-3"><img height=260px width=260px src="~/images/gris.jpg"/>
                <h4>$1000.00</h4><p>Producto</p></div>
        </div>         
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>LO NUEVO</h3>
        </div>
        <div class="customSizeBox">
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>MARCAS PRINCIPALES</h3>
        </div>
        <div class="customSizeBox">
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
        </div>
    </div>
