@using tiendaOnline.Data
@model IEnumerable<tiendaOnline.Models.Producto>
<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context


@{
    ViewData["Title"] = "iBuy";
}


<div class="row">
    <div class="col-md-3">
        <table class="table table-bordered table-hover">
            <thead><tr><th>Categorías</th></tr></thead>
            <!--Menu de categorias y subcategorias-->

            @foreach (var categoria in _context.Categoria)
            {
                <tr>
                    <td>
                        <div class="dropdown">
                            <form asp-area="" asp-controller="Productos" asp-action="Index" method="get">
                                <button name="searchString" type="submit" class="dropbtn botonculero3" value="@ViewData["CurrentFilter"]@categoria.nombre_categoria">
                                    @Html.DisplayFor(modelItem => categoria.nombre_categoria)
                                </button>
                                <div class="dropdown-content">
                                    @foreach (var subcategoria in _context.Subcategoria)
                                    {@if (categoria.CategoriaID == subcategoria.CategoriaID)
                                        {

                                            <button class="dropdown-content" name="searchString" type="submit" value="@ViewData["CurrentFilter"]@subcategoria.nombreSubcategoria">@Html.DisplayFor(subcategorias => subcategoria.nombreSubcategoria)</button><br /><br />
                                        }
                                }
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <!--Slideshows de banner-->
    <div class="col-md-9">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/banner1.jpg" alt="ASP.NET" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <!--p>
                            Learn how to build ASP.NET apps that can run anywhere.
                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                                Learn More
                            </a>
                        </p-->
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner2.jpg" alt="Visual Studio" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <!--p>
                            There are powerful new features in Visual Studio for building modern web apps.
                            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                                Learn More
                            </a>
                        </p-->
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner3.jpg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            <!--a> class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                Learn More
                            </a-->
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/banner4.jpg" alt="Microsoft Azure" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <p>
                            <!--a> class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                                Learn More
                            </a-->
                        </p>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-md-9">
        <img src="~/images/33.jpg" height="180px" />
        <img src="~/images/44.jpg" height="180px" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>LO NUEVO</h3>
    </div>
    <div>
        @foreach (var producto in Model)
        {
            <div class="col-md-2">
                <center> <b><h5><a asp-action="Details" asp-route-id="@producto.ProductoID">@Html.DisplayFor(modelItem => producto.NombreProducto)</a></h5></b></center>
                <a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">
                    <img class="zoom" height=180px width=180px src="~/images/productos/@Html.DisplayFor(modelItem => producto.Imagen)" />
                </a>

                @*variables para el descuento*@
                @{ var desc = false; var precios = 0.0; }

                @*aplicando el descuento*@
                @foreach (var precio in _context.Descuento)
                {
                    if (precio.ProductoID == producto.ProductoID && precio.EstaActivo == true)
                    {
                        desc = true;
                        precios = precio.PrecioConDesc;
                    }


                }
                @if (desc == false)
                {
                <h4>&nbsp;</h4>
                    precios = producto.PrecioUnitario;

                }

                @if (desc)
                {
                    <h5 style="text-decoration:line-through">  $@(producto.PrecioUnitario)</h5>
                }
                <h4>$ @precios</h4>
               




                <div class="agregarCarrito text-left" title="Agrega el producto a tu carrito!">
                    <p class="button">
                        <a class="btn btn-success" id="cartButton"
                           asp-controller="Carritos"
                           asp-action="AgregarCarrito"
                           asp-route-idProducto="@producto.ProductoID">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </p>
                </div>


                <br />

            </div>
        }
    </div>

    <!--
         <div class="customSizeBox">
            <div class="col-md-3">
                <img height=180px width=180px src="~/images/gris.jpg" />
                <h4>$1000.00</h4><p>Producto</p>
            </div>
        </div>
    </div>


        div class="row">
        <div class="col-md-12">
            <h3>LO NUEVO</h3>
        </div>
        <div class="customSizeBox">
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>MARCAS PRINCIPALES</h3>
        </div>
        <div class="customSizeBox">
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
            <div class="col-md-3">--------.</div>
        </div>
    </div-->
