@model IEnumerable<tiendaOnline.Models.Descuento>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoDeDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioConDesc)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                <label class="list-inline">
                    <!--Activa/Desactiva los descuentos-->
                    @if (item.EstaActivo == true)
                    {
                        <p class="button">
                            <a class="btn btn-danger" id="Activar"
                               asp-controller="Descuentos"
                               asp-action="ActivarDescuento"
                               asp-route-id="@item.DescuentoID">
                                Desactivar
                            </a>
                        </p>
                    }
                    else
                    {
                        <div class="button">
                            <a class="btn btn-success" id="Activar"
                               asp-action="Edit" asp-route-id="@item.DescuentoID">
                                Activar
                            </a>
                        </div>
                    }
                </label>
            </td>
            <td>
                <h5>@Html.DisplayFor(modelItem => item.producto.NombreProducto)</h5>
            </td>
            <td>
                @if (item.TipoDeDescuento == true)
                {
                    <h5>Por Porcentaje</h5>
                }
                else
                {
                    <h5>Por Cantidad</h5>
                }
            </td>
            <td>
                @if (item.TipoDeDescuento == true)
                {
                    <h5>@Html.DisplayFor(modelItem => item.MontoDeDescuento)%</h5>
                }
                else
                {
                    <h5>@Html.DisplayFor(modelItem => item.MontoDeDescuento)</h5>
                }

            </td>
            <td>
                <h5> @Html.DisplayFor(modelItem => item.PrecioConDesc)</h5>
            </td>

        </tr>
}
    </tbody>
</table>
