@model tiendaOnline.Models.Paypal

@{
    ViewData["Title"] = "Eliminar cuenta Paypal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar cuenta Paypal</h2>

<h3>¿Realmente desea eliminar su cuenta de Paypal?</h3>
<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correoPaypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correoPaypal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.psswrdPaypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.psswrdPaypal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PaypalID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Cuentas Paypal</a>
    </form>
</div>
