@model tiendaOnline.Models.Paypal

@{
    ViewData["Title"] = "Cuenta Paypal registrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cuenta Paypal registrada</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correoPaypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correoPaypal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.psswrdPaypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.psswrdPaypal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PaypalID"><i class="fa fa-pen"></i> Editar</a> |
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Cuentas Paypal</a>
</div>
