@model tiendaOnline.Models.Paypal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Paypal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.correoPaypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.correoPaypal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.psswrdPaypal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.psswrdPaypal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PaypalID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
