@model tiendaOnline.Models.Direccion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio.Departamento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio.Departamento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Municipio.nombreMunicipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.direccionDetallada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.direccionDetallada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigoPostal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codigoPostal)
        </dd>
        <!--
    <dt>
        @Html.DisplayNameFor(model => model.tiendaOnlineUser)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.detalleVendedor)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.detalleVendedor.correoComercial)
    </dd>
        -->
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DireccionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
