@model tiendaOnline.ViewModels.CarritoVM

<style>
    /*scroll shido para carrito*/
    .my-custom-scrollbar {        
        height:450px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
    .seccion aside{        
        display: flex;
    }
</style>
<h2>Tu carrito de compras</h2>
<h4>Aqui estan los productos que has agregado que esperas a comprarlos!</h4><br />
<!--Lado izquierdo-->
<aside class="col-md-9">
    <table class="table table-bordered table-hover">
        <thead style="background-color: gainsboro" class="row">
            <tr>
                <th class="col-md-1 text-center">Selección</th>
                <th class="col-md-1 text-center">Producto</th>
                <th class="col-md-2 text-center">Nombre del producto</th>
                <th class="col-md-1 text-center">Cantidad <br />seleccionada</th>
                <th class="col-md-1"></th>
                <th class="col-md-1 text-center">Precio</th>
                <th class="col-md-1 text-center">Subtotal</th>
                <th class="col-md-1"></th>
            </tr>
        </thead>
    </table>
    <table class="table table-bordered table-hover table-wrapper-scroll-y my-custom-scrollbar">
        <tbody>
            @foreach (var linea in Model.Carrito.prodCarrito)
            {
            <tr>
                <!--Con esta linea selecciona los que desea comprar ahorita es una PRUEBA-->
                <td class="col-md-1 text-center">
                    <br /><!--en lugar de usar la etiqueta style, con bootrap se le agrega el tmaaño de la columna col-md-1-->
                    <label class="checkbox-inline">
                        <input type="checkbox" value="" title="Quiero comprarlo!" asp-controller="Carritos" asp-action="SeleccionarDeCarrito" asp-route-productoID="@linea.producto.ProductoID">
                    </label>
                </td>
                <td class="col-md-1 text-center">

                    <a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@linea.producto.ProductoID">
                        <img class="zoom" height=90px width=100px src="~/images/productos/@Html.DisplayFor(modelItem => linea.producto.Imagen)" />
                    </a>
                </td>
                <td class="col-md-2 text-center"><br /><b>@Html.DisplayFor(modelItem => linea.producto.NombreProducto)</b></td>
                <td class="col-md-1 text-center"><br />@Html.DisplayFor(modelItem => linea.cantidadProducto)</td>
                <td class="col-sm-1 text-center">
                    <!--Boton para incrementar la cantidad de productos-->
                    <br /><a class="glyphicon glyphicon-chevron-up" title="Añadir más de este producto" asp-controller="Carritos" asp-action="AgregarCarrito" asp-route-idProducto="@linea.producto.ProductoID"></a>
                    <!--Boton para decrementar la cantidad de productos-->
                    <br /><a class="glyphicon glyphicon-chevron-down" title="Disminuir de este producto" asp-controller="Carritos" asp-action="EliminarDeCarrito" asp-route-idProducto="@linea.producto.ProductoID"></a>
                </td>
                <td class="col-md-1 text-center"><i><br />$@Html.DisplayFor(modelItem => linea.producto.PrecioUnitario)</i></td>
                <td class="col-md-1 text-center">
                    <br />
                    @((linea.cantidadProducto * linea.producto.PrecioUnitario).ToString("c"))
                </td>
                <td class="col-sm-1 text-center"><br /><a class="glyphicon glyphicon-remove text-danger remove" title="Eliminar de mi carrito!" asp-controller="Carritos" asp-action="EliminarProdDeCarrito" asp-route-idProducto="@linea.producto.ProductoID"></a></td>
            </tr>
            }

        </tbody>
    </table>
</aside>
<div class="container">
    <!--Lado derecho-->
    <aside id="seccion" class="col-md-3">
        <table class="table table-bordered table-hover">
            <thead style="background-color: gainsboro">
                <tr>
                    <th colspan="2" class="col-md-3 text-center">Detalle de tu compra</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <th class="col-sm-2 text-center"><b>SubTotal</b></th>
                    <th class="col-sm-1 text-center">
                        @Model.TotalCarrito.ToString("c")
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-2 text-center">Cupón</th>
                    <th class="col-sm-1 text-center">
                        $0.00 <!--Debe traer el cupón de los producto-->
                    </th>
                </tr>
                <tr>
                    <th class="col-sm-2 text-center"><h4><b>Total</b></h4></th>
                    <th class="col-sm-1 text-center">
                        @Model.TotalCarrito.ToString("c") <!--Debe quitarle el descuento y cupón al subtotal y mostrar el verdadero total-->
                    </th>
                </tr>

            </tbody>
        </table>
        <a class="btn btn-success  text-right" title="Realizar ya mi compra! " asp-controller="Orden" asp-action="Index" asp-route-id="">
            <i class="fas fa-credit-card"></i> <b>Realizar compra</b>
        </a>
    </aside>
</div>