@model tiendaOnline.Models.Subcategoria

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subcategoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreSubcategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreSubcategoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria.nombre_categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubcategoriaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
