@model IEnumerable<tiendaOnline.Models.Departamento>

@{
    ViewData["Title"] = "Departamentos";
}

<h2>Departamentos</h2>

<p>
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Agregar </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreDepartamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreDepartamento)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.DepartamentoID"><i class="fas fa-pen"></i></a>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.DepartamentoID"><i class="fas fa-info"></i></a>
                <a class="btn btn-success" asp-action="Delete" asp-route-id="@item.DepartamentoID"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
