@model tiendaOnline.Models.DetalleProducto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Aqui se muestran los detalles de los productos-->

<h2>Details</h2>

<!--div>
    <h4>DetalleProducto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Talla)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Talla)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PesoKg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PesoKg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.producto.Codigo)
        </dd>
    </dl>
</div-->
<div class="row">
    <br /><br />
    <div class="col-md-4">
        <img height=380px width=380px src="~/images/productos/@Html.DisplayFor(model => model.producto.Imagen)" />
    </div>
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.producto.NombreProducto)</h4>
        <h3><b>$ @Html.DisplayFor(model => model.producto.PrecioUnitario) </b></h3>
        <h5>Categoria: @Html.DisplayFor(model => model.producto.Subcategoria.nombreSubcategoria)</h5>

        <dl>
            <dt>
            @Html.DisplayNameFor(model => model.producto.Existencia)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.producto.Existencia)
            </dd>
            <br />
            <dt>
            @Html.DisplayNameFor(model => model.producto.Codigo)
            </dt>
            <dd>
            @Html.DisplayFor(model => model.producto.Codigo)
            </dd>
            <br />
            <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
            <dd>@Html.DisplayFor(model => model.Descripcion)</dd><br />
            <dt>@Html.DisplayNameFor(model => model.Talla)</dt>
            <dd>@Html.DisplayFor(model => model.Talla)</dd><br />
            <dt>@Html.DisplayNameFor(model => model.Color)</dt>
            <dd>@Html.DisplayFor(model => model.Color)</dd><br />
        </dl>

    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetalleProductoID">Editar</a> |
    <a asp-action="Index">Mis productos</a>
</div>
