@model tiendaOnline.Models.MetodoEnvio

@{
    ViewData["Title"] = "Eliminar método de envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Realmende desea eliminar este método de envío?</h3>
<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreMetodoEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreMetodoEnvio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.maxDiasEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.maxDiasEnvio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.minDiasEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.minDiasEnvio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.montoEnvio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.montoEnvio)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MetodoEnvioID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"></i> Métodos de envío</a>
    </form>
</div>
