@model IEnumerable<tiendaOnline.Models.MetodoEnvio>

@{
    ViewData["Title"] = "Métodos de envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Métodos de envío</h2>

<p>
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Agregar </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreMetodoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxDiasEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minDiasEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoEnvio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMetodoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxDiasEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minDiasEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoEnvio)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.MetodoEnvioID"><i class="fa fa-pen"></i></a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MetodoEnvioID"><i class="fa fa-info"></i></a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.MetodoEnvioID"><i class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
