@model IEnumerable<tiendaOnline.Models.MetodoEnvio>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreMetodoEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.maxDiasEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minDiasEnvio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoEnvio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreMetodoEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.maxDiasEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.minDiasEnvio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoEnvio)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MetodoEnvioID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MetodoEnvioID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MetodoEnvioID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
