@model tiendaOnline.Models.Producto

@{
    ViewData["Title"] = Model.NombreProducto;
}
<div class="row">
    <br /><br />
    <div class="col-md-4">
        <img height=380px width=380px src="~/images/productos/@Html.DisplayFor(model => model.Imagen)" />
    </div>
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.NombreProducto)</h4>
        <h3><b>$ @Html.DisplayFor(model => model.Precio) </b></h3>
        <h5>Categoria: @Html.DisplayFor(model => model.Subcategoria.nombreSubcategoria)</h5>
              
        <dl>
            @if (!(Model.Existencia == null))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Existencia)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Existencia)
                </dd>
                <br />
            }

            @if (!(Model.Codigo == null))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Codigo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Codigo)
                </dd>
                <br />
            }

            @if (!(Model.DetalleProducto == null))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DetalleProducto.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DetalleProducto.Descripcion)
                </dd>
                <br />
            }

        </dl>

    </div>


    
    <hr />
</div>
<!--div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div-->
