@model tiendaOnline.Models.Producto

@{
    ViewData["Title"] = Model.NombreProducto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <br /><br />
    <div class="col-md-4">
        <img height=380px width=380px src="~/images/productos/@Html.DisplayFor(model => model.Imagen)" />
    </div>
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.NombreProducto)</h4>
        <h3><b>$ @Html.DisplayFor(model => model.PrecioUnitario) </b></h3>
        <h5>Categoria: @Html.DisplayFor(model => model.Subcategoria.nombreSubcategoria)</h5>

        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Existencia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Existencia)
            </dd>
            <br />
           
            <br />
            <dt>@Html.DisplayNameFor(model => model.DetalleProducto.Descripcion)</dt>
            <dd>@Html.DisplayFor(model => model.DetalleProducto.Descripcion)</dd>
            <dt>@Html.DisplayNameFor(model => model.DetalleProducto.Talla)</dt>
            <dd>@Html.DisplayFor(model => model.DetalleProducto.Talla)</dd>
            <dt>@Html.DisplayNameFor(model => model.DetalleProducto.Color)</dt>
            <dd>@Html.DisplayFor(model => model.DetalleProducto.Color)</dd>
        </dl>

    </div>
</div>

   
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoID">Editar</a> |
    <a asp-action="Index">Mis productos</a>
</div>
