@model tiendaOnline.Models.Producto

@{
    ViewData["Title"] = Model.NombreProducto;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--h2>Details</!--h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Existencia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Existencia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Imagen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subcategoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subcategoria.SubcategoriaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.detalleVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.detalleVendedor.correoComercial)
        </dd>
    </dl>
</div>
<div-->
<div class="row">
    <br /><br />
    <div class="col-md-4">
        <img height=380px width=380px src="~/images/productos/@Html.DisplayFor(model => model.Imagen)" />
    </div>
    <div class="col-md-6">
        <h4>@Html.DisplayFor(model => model.NombreProducto)</h4>
        <h3><b>$ @Html.DisplayFor(model => model.PrecioUnitario) </b></h3>
        <h5>Categoria: @Html.DisplayFor(model => model.Subcategoria.nombreSubcategoria)</h5>

        <dl>
            @if (!(Model.Existencia == null))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Existencia)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Existencia)
                </dd>
                <br />
            }

            @if (!(Model.Codigo == null))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Codigo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Codigo)
                </dd>
                <br />
            }

            @if (!(Model.DetalleProducto == null))
            {
                <dt>
                    @Html.DisplayNameFor(model => model.DetalleProducto.Descripcion)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DetalleProducto.Descripcion)
                </dd>
                <br />
            }
                <dt>
                    @Html.DisplayNameFor(model => model.detalleVendedor)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.detalleVendedor.correoComercial)
                </dd>
            <!--Falta llamar a detalla del producto :c-->
        </dl>

    </div>



    <hr />
</div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoID">Editar</a> |
    <a asp-action="Index">Mis productos</a>
</div>
