@model IEnumerable<tiendaOnline.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--h2>Index</h2-->

<p>
    <br />
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Nuevo </a>
</p>
<!--table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subcategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detalleVendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subcategoria.SubcategoriaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detalleVendedor.correoComercial)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table-->
<div class="row">
    <div>
        @foreach (var producto in Model)
        {
            <div class="col-md-2">
                <a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">
                    <img class="zoom" height=180px width=180px src="~/images/productos/@Html.DisplayFor(modelItem => producto.Imagen)" />
                </a>
                <h4>$ @Html.DisplayFor(modelItem => producto.PrecioUnitario)</h4>
                <a asp-action="Details" asp-route-id="@producto.ProductoID">@Html.DisplayFor(modelItem => producto.NombreProducto)</a>
                <div class="agregarCarrito text-left">
                    <p class="button">
                        <a class="btn btn-success" id="cartButton"
                           asp-controller="Carritos"
                           asp-action="AgregarCarrito"
                           asp-route-idProducto="@producto.ProductoID">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                        <a class="btn btn-danger" asp-controller="Productos" asp-action="Delete" asp-route-id="@producto.ProductoID"><i class="far fa-trash-alt"></i></a>
                    </p>

                </div>
            </div>
        }
    </div>
</div>