@using Microsoft.AspNetCore.Identity
@using tiendaOnline.Areas.Identity.Data


@inject SignInManager<tiendaOnlineUser> SignInManager
@inject UserManager<tiendaOnlineUser> UserManager

@model IEnumerable<tiendaOnline.Models.Producto>

@using tiendaOnline.Data

<!--Haciendo una inyeccion del context para traer cualquier modelo-->
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <br />
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Nuevo </a>
</p>

<div class="row">
    <div>
        @foreach (var producto in Model)
        {
        <div class="col-md-2">
            <h4 class="productBox"><a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">@Html.DisplayFor(modelItem => producto.NombreProducto)</a></h4>
            <h5>$@Html.DisplayFor(modelItem => producto.PrecioUnitario)</h5>


            <a asp-controller="DetalleProductos" asp-action="Details" asp-route-id="@producto.ProductoID">
                <img class="zoom" height=180px width=180px src="~/images/productos/@Html.DisplayFor(modelItem => producto.Imagen)" />
            </a>
          
            <br /><br />
                  <div class="container dl-horizontal">
                      @if (await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Seller"))
                      {
                          <a class="btn btn-warning" asp-controller="Productos" asp-action="Edit" asp-route-id="@producto.ProductoID"><i class="fas fa-pen"></i></a>
                          <!--a class="btn btn-success" asp-controller="DetalleProductos" asp-action="Edit" asp-route-id="@producto"><i class="fas fa-pen"></i>Detalles</a-->
                      }

                      

                          <a class="btn btn-success" id="cartButton" title="Agrega el producto a tu carrito!"
                             asp-controller="Carritos"
                             asp-action="AgregarCarrito"
                             asp-route-idProducto="@producto.ProductoID">
                              <i class="fas fa-cart-plus"></i>
                          </a>


                      
                  </div>
            
        </div>
        }
    </div>
</div>