@model IEnumerable<tiendaOnline.Models.Producto>

@{
    ViewData["Title"] = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-4"><h2>Productos</h2></div>
<div class="col-md-offset-3 col-md-5">
    <br />
    <form class="form-inline">
        <label class="control-label">Buscar por código: </label>
        <input type="text" name="code" class="form-control" value="@ViewData["CodeFilter"]"/>
        <input type="submit" class="btn btn-default"/>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                Estado
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Existencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.existenciaSinActivacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.detalleVendedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <label class="list-inline">
                    <!--Activa/Desactiva los descuentos-->
                    @if (item.estadoProducto == true)
                    {
                        <p class="button">
                            <a class="btn btn-danger" id="Desactivar"
                               asp-controller="Productos"
                               asp-action="DesactivarProducto"
                               asp-route-id="@item.ProductoID">
                                Desactivar
                            </a>
                        </p>
                    }
                    else
                    {
                        <div class="button">
                            <a class="btn btn-success" id="Activar"
                               asp-controller="Productos"
                               asp-action="ActivarProducto" asp-route-id="@item.ProductoID">
                                Activar
                            </a>
                        </div>
                    }
                </label>
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Existencia)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.existenciaSinActivacion)
            </td>                      
            <td>
                @Html.DisplayFor(modelItem => item.detalleVendedor.nombreComercial)
            </td>           
        </tr>
}
    </tbody>
</table>
