@model tiendaOnline.Models.TipoDeDescuento

@{
    ViewData["Title"] = "Eliminar descuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Realmente desea eliminar este descuento?</h3>
<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDelDescuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreDelDescuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.montoDeDescuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.montoDeDescuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.porcentajeDeDescuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.porcentajeDeDescuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.producto.Codigo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TipoDeDescuentoID" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a class="btn btn-primary" asp-action="Index"><i class="fa fa-home"> Cancelar</i></a>
    </form>
</div>
