@model tiendaOnline.Models.TipoDeDescuento

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TipoDeDescuento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreDelDescuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombreDelDescuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.montoDeDescuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.montoDeDescuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.porcentajeDeDescuento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.porcentajeDeDescuento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.producto.Codigo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoDeDescuentoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
