@model IEnumerable<tiendaOnline.Models.TipoDeDescuento>

@{
    ViewData["Title"] = "Descuentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Descuentos</h2>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreDelDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.montoDeDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.porcentajeDeDescuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombreDelDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.montoDeDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.porcentajeDeDescuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.producto.Codigo)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TipoDeDescuentoID"><i class="fa fa-pen"></i></a>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TipoDeDescuentoID"><i class="fa fa-info"></i></a>
                <a class="btn btn" asp-action="Delete" asp-route-id="@item.TipoDeDescuentoID"><i class="fa fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
