@model tiendaOnline.Models.Tarjeta

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numeroTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigoSeguridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codigoSeguridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.titularTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titularTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaVencimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TarjetaID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
