@model tiendaOnline.Models.Tarjeta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tarjeta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.numeroTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.numeroTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.codigoSeguridad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.codigoSeguridad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipoTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.titularTarjeta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.titularTarjeta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fechaVencimiento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fechaVencimiento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tiendaOnlineUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tiendaOnlineUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TarjetaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
