@model IEnumerable<tiendaOnline.Models.Tarjeta>

@{
    ViewData["Title"] = "Mis Tarjetas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mis Tarjetas</h2>

<p>
    <a class="btn btn-info" asp-action="Create"><i class="fas fa-plus"></i> Nueva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.numeroTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.codigoSeguridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titularTarjeta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaVencimiento)

            </th>
            <!--th>
                Html.DisplayNameFor(model => model.tiendaOnlineUser)
            </th-->

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.numeroTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.codigoSeguridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titularTarjeta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaVencimiento)

            </td>
            <!--td>
                Html.DisplayFor(modelItem => item.tiendaOnlineUser.Id)
            </td-->          

            <td>
                <a asp-action="Edit" asp-route-id="@item.TarjetaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TarjetaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TarjetaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
